:root {
    --background-color: #040e20;
    --font-color: #fff;
    --sec-font-color: #dbdbdb;
    --secondary-color: #0a6ed3;
    --hover-color: #0d408d;

    --Poppins: 'Poppins', sans-serif;
    --Ccmfortaa: 'Comfortaa', serif;
    --Itim: "Itim", cursive;
}

:root{
    --background-color-new: #0E0E0E;
    --secondary-color-light-new: #21D0A4;
    --secondary-color-new: #327867;
    --secondary-color-dark-new: #225246;
    --font-color-new: #fefefe;
    --tile-color: #333333;
}

.Educard {
    height: 12vmax;
    width: 35vmax;
    background: linear-gradient(-45deg ,rgba(50, 50, 50, 0.1), rgba(225, 255, 225, 0.1));
    transition: 0.2s;
    border-radius: 7px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.Educard:hover{
    background-color: rgba(124, 124, 124, 0.2);
}

.Educard:hover .project-link{
    color: var(--secondary-color-new);
}

.edu-img {
    /* background-color: red; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2vmax;
}

.edu-ico-img{
    width: 3vmax;
    filter: invert(72%) sepia(19%) saturate(1516%) hue-rotate(113deg) brightness(90%) contrast(93%);
    pointer-events: none;
    user-select: none;
}

.edu-crd-txt-cont{
    /* background-color: red; */
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.heading {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.edu-inner-heading{
    color: var(--secondary-color-light-new);
    font-family: var(--Poppins);
    font-size: 1.7vmax;
    font-weight: 500;
}

.subhead {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.inr-subhead{
    color: var(--font-color);
    font-family: var(--Poppins);
    font-size: 1.2vmax;
    font-weight: 500;
}

.desc {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.edu-description{
    font-family: var(--Poppins);
    font-size: .95vmax;
    color: var(--font-color-new);
}

.time{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.inr-time{
    font-family: var(--Poppins);
    font-size: .95vmax;
    color: var(--font-color-new);
}

.link{
    font-size: 1vmax;
    text-decoration: none;
    color: var(--secondary-color-light-new);
    font-family: var(--Poppins);
    transition: 0.3s;
}

.link:hover{
    text-decoration: underline;
}