:root {
  --background-color: #040e20 !important;
  --font-color: #fff;
  --sec-font-color: #dbdbdb;
  --secondary-color: #0a6ed3;
  --hover-color: #0d408d;

  --Poppins: 'Poppins', sans-serif;
  --Ccmfortaa: 'Comfortaa', serif;
  --Itim: "Itim", cursive;
}
  
  .footer{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: #01060f;
  }
  
  .uppr-txt-cnt{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txt-cnt{
    height: 55%;
    width: 70%;
    border-top: 1.5px solid #6f6f6f;
    border-bottom: 1.5px solid #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftr-upr-txt{
    font-size: 1vmax;
    font-family: var(--Poppins);
    color: #6f6f6f;
  }

  .ftr-lgo-cnt{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftr-lgo{
    width: 15vmax;
    cursor: pointer;
  }

  .ftr-nav-cnt{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul{
    list-style: none;
    width: 30vmax;
    display: flex;
    justify-content: space-between;
  }

  li{
    display: inline-block;
  }

  ul li a{
    color: #6f6f6f;
    font-family: var(--Poppins);
    font-size: 1vmax;
    text-decoration: none;
    transition: 0.3s;
  }

  ul li a:hover{
    color: #bbbbbb;
  }

  .ftr-scl-lnk-cnt{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul.scl{
    list-style: none;
    width: 18vmax;
    display: flex;
    justify-content: space-between;
  }

  .ftr-scl-img{
    width: 1.5vmax;
    filter: invert(43%) sepia(15%) saturate(7%) hue-rotate(322deg) brightness(97%) contrast(91%);
  }

  .cpy-rht-cnt{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cpy-rgt-txt{
    font-size: .8vmax;
    font-family: var(--Poppins);
    color: #6f6f6f;
  }

  .scroll-up-btn{
    position: absolute;
    top: 2.3vmax;
    right: 2.5vmax;
    height: 3.2vmax;
    width: 3.2vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3vmax solid var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
  }

  .scroll-img{
    width: 1.5vmax;
    filter: invert(46%) sepia(55%) saturate(7302%) hue-rotate(206deg) brightness(97%) contrast(99%);
  }

  .scroll-up-btn:hover{
    background-color: var(--secondary-color);
  }

  .scroll-up-btn:hover .scroll-img{
    filter: invert(100%) sepia(100%) saturate(24%) hue-rotate(53deg) brightness(105%) contrast(109%);
  }