:root {
  /* --background-color: #080808; */
  /* --font-color: #fff; */
  --sec-font-color: #dbdbdb;
  /* --secondary-color: #146ef5; */
  --hover-color: #0d408d;

  --Poppins: 'Poppins', sans-serif;
  --Ccmfortaa: 'Comfortaa', serif;
  --Itim: "Itim", cursive;
}
  
  .footer{
    height: 60vh;
    width: 100%;
    background-color: #01060f;
  }
  
  .uppr-txt-cnt{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txt-cnt{
    height: 55%;
    width: 70%;
    border-top: 1.5px solid #6f6f6f;
    border-bottom: 1.5px solid #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftr-upr-txt{
    font-size: 1vmax;
    font-family: var(--Poppins);
    color: #6f6f6f;
  }

  .ftr-lgo-cnt{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftr-lgo{
    width: 15vmax;
    cursor: pointer;
  }

  .ftr-nav-cnt{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul{
    list-style: none;
    width: 30vmax;
    display: flex;
    justify-content: space-between;
  }

  li{
    display: inline-block;
  }

  ul li a{
    color: #6f6f6f;
    font-family: var(--Poppins);
    font-size: 1vmax;
    text-decoration: none;
    transition: 0.3s;
  }

  ul li a:hover{
    color: #bbbbbb;
  }

  .ftr-scl-lnk-cnt{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul.scl{
    list-style: none;
    width: 18vmax;
    display: flex;
    justify-content: space-between;
  }

  .ftr-scl-img{
    width: 1.5vmax;
    filter: invert(43%) sepia(15%) saturate(7%) hue-rotate(322deg) brightness(97%) contrast(91%);
  }

  .cpy-rht-cnt{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cpy-rgt-txt{
    font-size: .8vmax;
    font-family: var(--Poppins);
    color: #6f6f6f;
  }