
:root {
    /* --background-color: #080808; */
    /* --font-color: #fff; */
    --sec-font-color: #dbdbdb;
    /* --secondary-color: #146ef5; */
    --hover-color: #0d408d;

    --Poppins: 'Poppins', sans-serif;
    --Ccmfortaa: 'Comfortaa', serif;
    --Itim: "Itim", cursive;

    --header-height: 5vmax;
}

header{
    position: absolute;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
    z-index: 100;
    /* background: rgba(255, 255, 255, 0.1); */
    /*
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px); */
}

.logo{
    width: 15vmax;
    cursor: pointer;
    user-select: none;
}

.navbar{
    height: 3vmax;
    width: 25vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

ul{
    list-style: none;
    display: flex;
    gap: 3vmax;
    user-select: none;
}

ul li.nav-li{
    display: inline-block;
    font-size: 1vmax;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

ul li.nav-li:hover{
    color: #8b8b8b;
}

.btnWrpr{
    display: block;
    height: 2.5vmax;
    min-height: 2.5vmax;
    width: 2.5vmax;
    min-width: 2.5vmax;
    background-color: transparent;
    background-image: url(../assets/Icons/white.png);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}

.navbarBtn{
    width: 3.7rem;
}

@media (max-width: 600px){

    :root{
        --header-height: 7vmax;
    }

    header{
        padding: 0 2vmax;
        position: fixed;
    }

    .logo{
        width: 23vmax;
    }

    .navbar-button{
        display: block;
    }

    .navbar{
        display: block;
    }

    .navbar{
        position: fixed;
        top: var(--header-height);
        transform: translateX(100%);
        left: 0;
        height: 90vh;
        width: 100%;
        background-color: rgba(19, 19, 19, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
        transition: 0.3s;
        z-index: -10;
    }
    .navbar-active{
        position: fixed;
        top: var(--header-height);
        transform: translateX(0);
        left: 0;
        height: 90vh;
        width: 100%;
        background-color: rgba(19, 19, 19, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
        transition: 0.3s;
        z-index: -10;
    }

    .header{
        background: linear-gradient(45deg ,var(--secondary-color), var(--hover-color));
    }

    ul{
        height: 50%;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
        gap: 15vmin;
        flex-direction: column;

    }

    ul li.nav-li{
        font-size: 5vmin;
        font-family: 'Poppins',sans-serif;
        cursor: pointer;
        color: #fff;
    }

    .btnWrpr{
        display: block;
        height: 3.5vmax;
        min-height: 3.5vmax;
        width: 3.5vmax;
        min-width: 3.5vmax;
        background-image: url(../assets/Icons/white.png);
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    
}



@media(min-width: 601px){
    .btnWrpr{
        display: none;
    }
    .navbarBtn{
        display: none;
    }
}