:root {
    /* --background-color: #080808; */
    /* --font-color: #fff; */
    --sec-font-color: #dbdbdb;
    /* --secondary-color: #146ef5; */
    --hover-color: #0d408d;

    --Poppins: 'Poppins', sans-serif;
    --Ccmfortaa: 'Comfortaa', serif;
    --Itim: "Itim", cursive;
}

:root{
    --background-color-new: #0E0E0E;
    --secondary-color-light-new: #21D0A4;
    --secondary-color-new: #327867;
    --secondary-color-dark-new: #225246;
    --font-color-new: #fefefe;
    --tile-color: #333333;
}

.card {
    height: 19vmax;
    width: 19vmax;
    background: linear-gradient(-45deg ,rgba(50, 50, 50, 0.1), rgba(225, 255, 225, 0.1));
    transition: 0.2s;
    border-radius: 7px;
}

.card:hover{
    background-color: rgba(124, 124, 124, 0.2);
}

.card:hover .project-link{
    color: var(--secondary-color-light-new);
}

.img {
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding: 0 1.5vmax;
    padding-bottom: .5vmax;
}

.project-ico-img{
    width: 2.5vmax;
    filter: invert(72%) sepia(19%) saturate(1516%) hue-rotate(113deg) brightness(90%) contrast(93%);
    pointer-events: none;
    user-select: none;
}

.heading {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-inner-heading{
    color: var(--secondary-color-light-new);
    font-family: var(--Poppins);
    font-size: 1.7vmax;
    font-weight: 500;
}

.description {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-description{
    font-family: var(--Poppins);
    font-size: .90vmax;
    color: var(--font-color-new);
}

.link{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.5vmax;
}

.project-link{
    color: var(--sec-font-color);
    font-family: var(--Poppins);
    font-size: 1vmax;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

.project-link:hover{
    text-decoration: underline;
}